/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*////////////////////////
    1. Global Styles
////////////////////////*/


/*////////////////////////
    2. Typography grijs #899CA0 kleine tekst en donkergroen #1C2B32 knoppen en headers)
////////////////////////*/
body{
    font-family: "Poppins", sans-serif;
}
button{
    color: white;
    background-color:#1C2B32;
    text-align: center;
    border: none;
    font-size: 20px;
    font-weight: 300;
    block-size: 70px;
}
input{
    color: #1C2B32;
    padding-left: 40px;
}
p{
    color:#1C2B32;
}

/*////////////////////////
    3. Areas
////////////////////////*/

main h2{
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}



/*///////////// 3.1 Header /////////////*/

header{
    background-image: url("../assets/images/mountains.jpg");
    background-size: auto auto;
    background-position: center;
    height: 700px;
    width: 100%;
    margin-bottom: 50px;

}
.header-section div{
    text-align: center;
    max-width: 1000px;
    margin: auto;
}
.header-section h1{
    font-size: 120px;
    font-weight: 700;
    padding-top: 50px;
}

.header-section p{
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.header-section input{
    font-size: 20px;
    font-weight: 300;
    border-radius: 50px 0 0 50px;
    background-color: transparent;
    block-size: 70px;
    width: 400px;
}

.header-section button{
    border-radius: 0 50px 50px 0;
    width: 300px;
}

.header-section input + button{
    margin: -6px;
}


/*///////////// 3.2 Testimonial /////////////*/
main{
    max-width: 1000px;
    margin: auto;
    }
.review{
    font-weight: 300;
    border-radius: 15px;
    Height: 300px;
    width: 100%;
    box-shadow: 3px 3px 10px grey;
    padding: 75px;
    margin-bottom: 50px;
    position: relative;
}
.image-person {
    height: 44px;
    width: 44px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 50px;
}
.review p{
    margin-bottom: 30px;
}

.quote{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 70px;
    left: 40px;
}
/*///////////// 3.3 Support /////////////*/
.callcenter-image{
    border: none;
    border-radius: 15px;
    width: 1000px;
}
.support p{
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 20px;
}
a {
    color: grey;
    text-decoration: underline;
}
a:hover{
    text-decoration: none;
}

.support button{
    border-radius: 50px;
    width: 200px;
}
/*///////////// 3.4 Faq /////////////*/
.drop-down-menu{
    cursor: pointer;
}
details summary{
    line-height: 60px;
    font-weight: 300;
}
details p{
    font-weight: 300;
    Background-color: slategrey;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}


/*///////////// 3.5 Footer /////////////*/
footer{
    text-align: center;
    background-color: #1C2B32;
    background-size: auto;
    padding:30px;
    margin-top: 50px;
}
footer p {
    color: white;
    font-size: 15px;
    font-weight: 300;
}